MONGO_USERNAME=vacal_user
MONGO_PASSWORD=vacal_password_IbLEpHISturb
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB_NAME=vacal

# AWS authentication
# either with
AWS_WEB_IDENTITY_TOKEN_FILE=
# or with
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# USERNAME/PASSWORD AUTHENTICATION
AUTHENTICATION_SECRET_KEY=b461cb38030c172d3feb5275e3d841087951b8fe88ad9c1697eb5ee41269a135