fastapi
uvicorn[standard]
pydantic[email]
mongoengine
pycountry
holidays
pymongo
python-dotenv
boto3
apscheduler
openpyxl
prometheus-fastapi-instrumentator
python-multipart
passlib[bcrypt]
pyjwt
python-dateutil
mongomock
ics

fido2
