fastapi
uvicorn[standard]
pydantic[email]
mongoengine
pycountry
holidays
pymongo
python-dotenv
boto3
apscheduler
openpyxl
prometheus-fastapi-instrumentator
python-multipart
pwdlib[argon2,bcrypt]
pyjwt
python-dateutil
mongomock
ics
