fastapi
uvicorn[standard]
pydantic[email]
mongoengine
pycountry
holidays
pymongo
python-dotenv
boto3
apscheduler
openpyxl
prometheus-fastapi-instrumentator
python-multipart
passlib[bcrypt]
pyjwt
python-dateutil
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability