.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; /* Make sure it stays on top of other content */
    padding: 10px 0; /* Add some padding for aesthetics */
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically in the center */
}

.stickyHeader::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; /* Adjust based on your design */
    height: 20px; /* Height of the gradient effect */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.stickyHeader .save-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: gray;
}

/* Padding for content below the sticky header to avoid overlap */
.contentBelowStickyHeader {
    padding-top: 41px; /* Adjust this value based on the actual height of your sticky header */
}

.calendar-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.calendar-table thead {
    position: sticky;
    top: 41px; /* Adjust this value to the height of your sticky header */
    background-color: white; /* To ensure the header is not transparent */
    z-index: 11; /* Ensure this is higher than the z-index of .stickyHeader */
}

.calendar-table th, .calendar-table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: center;
    overflow: hidden;
}

.calendar-table th:first-child, .calendar-table td:first-child {
    width: 20%;
    text-align: left;
    cursor: default;
}

.calendar-table th {
    background-color: #f0f0f0;
}

.calendar-table td {
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-table td:hover {
    background-color: rgba(245, 245, 245, 0.5); /* Light gray with 50% opacity. Highlight only the hovered cell */
}

.team-name-cell .team-name {
    margin-right: 10px; /* Adjust as needed */
}

.team-row {
    background-color: #f2f2f2;
    font-weight: bold;
}

.team-row td {
    cursor: default;
}

/* Hide icons by default */
.team-name-cell .edit-icon,
.team-name-cell .delete-icon,
.member-name-cell .drag-icon,
.member-name-cell .edit-icon,
.member-name-cell .delete-icon,
.member-name-cell .info-icon {
    visibility: hidden;
}

/* Show icons on hover of the cell */
.team-name-cell:hover .edit-icon,
.team-name-cell:hover .delete-icon,
.member-name-cell:hover .drag-icon,
.member-name-cell:hover .edit-icon,
.member-name-cell:hover .delete-icon,
.member-name-cell:hover .info-icon {
    visibility: visible;
}

.edit-icon {
    cursor: pointer;
    margin-left: 10px;
}

.delete-icon {
    cursor: pointer;
    margin-left: 10px;
}

.add-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #0000ff;
}

.collapse-icon {
    cursor: pointer;
    margin-right: 10px;
}

.eye-icon {
    cursor: pointer;
    margin-right: 10px;
}

.eye-icon-active {
    color: green;
}

.info-icon {
    margin-left: 10px;
    cursor: help;
    color: grey;
}

.drag-icon {
    cursor: grab;
    margin-left: 10px;
}

.drag-icon:active {
    cursor: grabbing;
}

.weekend-column {
    background-color: #4DB4D7; /* Blue */
}

.day-cell {
    display: flex;
}

.day-type {
    flex-grow: 1;
    height: 100%;
}

.holiday-cell {
    background-color: #FF9999;
}

.vacation-cell {
    background-color: #48BF91;
}

.current-day-number {
    filter: brightness(90%); /* Adjust brightness for darker effect */
    font-weight: bold;
}

.dragging {
    opacity: 0.5;
    background-color: #f0f0f0;
}

.drop-target {
    background-color: #E0E0E0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 300px; /* Adjust the width as needed */
    border-radius: 5px;
}

.modal-content form input {
    padding: 8px;
    border: 1px solid #ccc;
}

/* Button container for horizontal layout */
.modal-content form .button-container {
    display: flex;
    justify-content: space-between; /* Space out buttons */
}

.modal-content form button {
    padding: 8px 15px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
}

.modal-content form button[type="submit"] {
    background-color: #4DB4D7; /* Blue */
    color: white;
}

.modal-content form button[type="button"] {
    background-color: #ccc; /* Light gray for the close button */
}

th.week-number-header {
    font-weight: normal;
    font-size: 0.75em;
}

th.day-number-header {
    font-weight: normal;
    font-size: 0.9em;
}

.calendar-table thead tr th {
    border-bottom: 0;
    border-top: 0;
    margin: 0
}
