.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; /* Make sure it stays on top of other content */
    padding: 10px 0; /* Add some padding for aesthetics */
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically in the center */
}

.stickyHeader::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; /* Adjust based on your design */
    height: 20px; /* Height of the gradient effect */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* Padding for content below the sticky header to avoid overlap */
.contentBelowStickyHeader {
    padding-top: 44px; /* Adjust this value based on the actual height of your sticky header */
}

.monthSelector {
    margin: 0px 10px;
}

/* Additional CSS rules for month display */
.monthDisplay {
    display: inline-block; /* Allows setting a fixed width */
    width: 130px; /* Adjust this width as needed to fit the longest month name */
    text-align: center; /* Center-align the month name */
}

.calendar-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.calendar-table th, .calendar-table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: center;
    overflow: hidden;
}

.calendar-table th:first-child, .calendar-table td:first-child {
    width: 20%;
    text-align: left;
}

.calendar-table th {
    background-color: #f0f0f0;
}

.calendar-table td {
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-table td:hover {
    background-color: rgba(245, 245, 245, 0.5); /* Light gray with 50% opacity. Highlight only the hovered cell */
}

.team-name-cell .team-name {
    margin-right: 10px; /* Adjust as needed */
}

.delete-icon {
    cursor: pointer;
    margin-left: 10px;
}

.add-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #0000ff;
}

.collapse-icon {
    cursor: pointer;
    margin-right: 10px;
}

.eye-icon {
    cursor: pointer;
    margin-right: 10px;
}

.eye-icon-active {
    color: green;
}


.weekend-column {
    background-color: #4DB4D7; /* Blue */
}

.holiday-cell {
    background-color: #FF9999; /* Soft Red */
}

.vacation-cell {
    background-color: #48BF91; /* Green */
}
