.stickyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This line will space out the header items */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 7px;
}

/* Additional styles to ensure other elements (like buttons or icons) are properly aligned */
.stickyHeader > * {
    flex: 1; /* Gives an equal opportunity for each element to expand */
    display: flex;
    justify-content: center; /* Centers content of each flex item */
}

.stickyHeader input[type="search"] {
    padding: 5px 12px;
    border: 1px solid #d0d7de;
    border-radius: 4px;
    font-size: 13px;
    width: 50%;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

.stickyHeader input[type="search"]:focus {
    border-color: #0366d6;
    outline: none;
}

.stickyHeader input[type="search"]::placeholder {
    color: #8a939d;
}

.filter-wrapper {
    flex: 0 0 40%; /* Allocate space but allow it to shrink or grow as needed */
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Specific style for the Clear button */
.stickyHeader button {
    flex: 0 0 auto; /* Do not grow, do not shrink, and 'auto' basis for content-based sizing */
    margin: 0 10px;
    white-space: nowrap; /* Ensure the button text does not wrap */
}

.stickyHeader::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13px;
    height: 20px; /* Height of the gradient effect */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.stickyHeader .save-icon {
    position: absolute;
    right: 180px;
    transform: translateX(-50%);
    font-size: 24px;
    color: gray;
}

/* Padding for content below the sticky header to avoid overlap */
.contentBelowStickyHeader {
    padding-top: 41px; /* Adjust this value based on the actual height of your sticky header */
}

.calendar-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.calendar-table thead {
    position: sticky;
    top: 41px; /* Adjust this value to the height of your sticky header */
    background-color: white; /* To ensure the header is not transparent */
    z-index: 11; /* Ensure this is higher than the z-index of .stickyHeader */
}

.calendar-table th, .calendar-table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.calendar-table th:first-child, .calendar-table td:first-child {
    width: 20%;
    text-align: left;
    cursor: default;
}

.calendar-table th {
    background-color: #f0f0f0;
}

.calendar-table td {
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-table td:hover {
    background-color: rgba(200, 200, 200, 0.7); /* Darker gray with 70% opacity. Highlight only the hovered cell */
}

.team-name-cell .team-name {
    margin-right: 10px; /* Adjust as needed */
}

.team-row {
    background-color: #f2f2f2;
    font-weight: bold;
}

.team-row td {
    cursor: default;
}

/* Hide icons by default */
.team-name-cell .edit-icon,
.team-name-cell .delete-icon,
.member-name-cell .drag-icon,
.member-name-cell .edit-icon,
.member-name-cell .delete-icon,
.member-name-cell .info-icon {
    visibility: hidden;
}

/* Show icons on hover of the cell */
.team-name-cell:hover .edit-icon,
.team-name-cell:hover .delete-icon,
.member-name-cell:hover .drag-icon,
.member-name-cell:hover .edit-icon,
.member-name-cell:hover .delete-icon,
.member-name-cell:hover .info-icon {
    visibility: visible;
}

.edit-icon {
    cursor: pointer;
    margin-left: 10px;
}

.delete-icon {
    cursor: pointer;
    margin-left: 10px;
}

.add-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #0000ff;
}

.collapse-icon {
    cursor: pointer;
    margin-right: 10px;
}

.eye-icon {
    cursor: pointer;
    margin-right: 10px;
}

.eye-icon-active {
    color: green;
}

.info-icon {
    margin-left: 10px;
    cursor: help;
    color: grey;
}

.drag-icon {
    cursor: grab;
    margin-left: 10px;
}

.drag-icon:active {
    cursor: grabbing;
}

.weekend-column {
    background-color: #4DB4D7; /* Blue */
}

.day-cell {
    display: flex;
}

.day-type {
    flex-grow: 1;
    height: 100%;
}

.holiday-cell {
    background-color: #FF9999;
}

.vacation-cell {
    background-color: #48BF91;
}

.calendar-table .current-day-number {
    padding: 0;
    filter: brightness(90%); /* Adjust brightness for darker effect */
    font-weight: bold;
    user-select: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5); /* Darker left border */
    border-right: 1px solid rgba(0, 0, 0, 0.5); /* Darker right border */
}

.out-of-month-day-number {
    font-size: 0.75em;
    color: gray;
    font-weight: normal;
    user-select: none;
}

.calendar-table .current-day {
    border-left: 1px solid rgba(0, 0, 0, 0.4); /* Darker left border */
    border-right: 1px solid rgba(0, 0, 0, 0.4); /* Darker right border */
}

.calendar-table .yesterday {
    border-right: none;
}

.dragging {
    opacity: 0.5;
    background-color: #f0f0f0;
}

.drop-target {
    background-color: #E0E0E0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 300px; /* Adjust the width as needed */
    border-radius: 5px;
}

.modal-content form input {
    padding: 8px;
    border: 1px solid #ccc;
}

/* Button container for horizontal layout */
.modal-content form .button-container {
    display: flex;
    justify-content: space-between; /* Space out buttons */
}

.modal-content form button {
    padding: 8px 15px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
}

.modal-content form button[type="submit"] {
    background-color: #4DB4D7; /* Blue */
    color: white;
}

.modal-content form button[type="button"] {
    background-color: #ccc; /* Light gray for the close button */
}

th.week-number-header {
    font-weight: normal;
    font-size: 0.75em;
    cursor: default;
    user-select: none;
}

th.day-number-header {
    padding: 0;
    font-weight: normal;
    font-size: 0.9em;
    cursor: default;
    user-select: none;
}

.calendar-table thead tr th {
    border-bottom: 0;
    border-top: 0;
    margin: 0
}

.comment-icon {
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 20px;
    color: #DDD;
}

.selected-range {
    background-color: rgba(220, 220, 220, 0.5);
}