.day-type-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Makes it a circle */
    margin-right: 5px;
}