.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 0.8em;
}

.settingsIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 5000;
}

.loadingIndicator {
    position: fixed;
    top: 10px;
    right: 50px;
    cursor: default;
    z-index: 5000;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.loadingIndicator:not(:empty) {
    opacity: 1;
}