.calendar-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.calendar-table th, .calendar-table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: center;
    overflow: hidden;
}

.calendar-table th:first-child, .calendar-table td:first-child {
    width: 20%;
    text-align: left;
}

.calendar-table th {
    background-color: #f0f0f0;
}

.calendar-table td {
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-table td:hover {
    background-color: #f5f5f5; /* Highlight only the hovered cell */
}

.calendar-table colgroup col:hover {
    background-color: #f5f5f5; /* Lightly highlight the column on hover */
}

.team-name-cell {
    font-weight: bold;
}

.weekend-column {
    background-color: #6ec0ff;
}

.vacation-cell {
    background-color: green;
}

.holiday-cell {
    background-color: #f4e3ff;
}


form {
    margin-top: 20px;
}

form input[type="text"] {
    padding: 8px;
    margin-right: 10px;
}

form button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}