.calendar-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.calendar-table th, .calendar-table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: center;
    overflow: hidden;
}

.calendar-table th:first-child, .calendar-table td:first-child {
    width: 20%;
    text-align: left;
}

.calendar-table th {
    background-color: #f0f0f0;
}

.calendar-table td {
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-table td:hover {
    background-color: rgba(245, 245, 245, 0.5); /* Light gray with 50% opacity. Highlight only the hovered cell */
}

.team-name-cell .team-name {
    margin-right: 10px; /* Adjust as needed */
}

.delete-icon {
    cursor: pointer;
    margin-left: 10px;
}

.add-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #0000ff;
}

.collapse-icon {
    cursor: pointer;
    margin-right: 10px;
}

.weekend-column {
    background-color: #4DB4D7;
}

.holiday-cell {
    background-color: #95D8EB;
}

.vacation-cell {
    background-color: #48BF91;
}

form {
    margin-top: 20px;
}

form input[type="text"] {
    padding: 8px;
    margin-right: 10px;
}

form button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}