button {
  user-select: none;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between form elements */
}

form input[type="text"], form input[type="password"] {
    padding: 8px;
}

form button {
    margin: 10px 0;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
